<%= javascript_include_tag 'map' %>

<div id="maps-container">
  <%= content_tag :div, id: 'map-canvas-container',
    data: map_data do %>
    <%= tag :div, id: "map_canvas"%>
  <% end %>
  </div>
  <div id="content-container">
    <div id="the-plan">
      <h3>The Plan</h3>
      <%= Rails.configuration.site_information['map']['plan'] %>
      <p>
      </p>
    </div>
  </div>
</div>
