<p id="notice"><%= notice %></p>
<div class="posts-container">
  <% @posts.each do |post| %>
    <div class="post-div">
      <h3 class="post-title"><%= post.title %></h3>
      <p class="post-date"><%= post.created_at.strftime("%B %d, %Y") %></p>
      <p><%= post.text %></p>
    </div>
  <% end %>
</div>
