header.navigation.green{
  background-color: #66CAC4;
  border-bottom: #023277;
}
header.navigation.green a{
  color: white;
}
.content{
  padding: 10px;
  background-color: #F6F7F9;
}
.post-div{
  margin-top: 10px;
}
.post-title{
  font-size: 2em;
  margin-bottom: 0.2em;
  text-align: center;
}
.post-date{
  font-size: 90%;
  text-align: center;
  color: rgba(221, 221, 221, 0.77);
}
.photos-index img{
  border-radius: 20px;
  margin: 5px;
}
.photos-index .image{
  position: relative;
  display: inline-block;
}
.photos-index .image:not(:hover) h2{
  display: none;
}
.photos-index .image:hover h2{
  position: absolute;
  top: 75%;
  left: 5%;
  width: 100%;
  color: white;
}
.posts-index .title-tile{
  height: 200px;
  width: 250px;
  background: rgba(0,0,0,0.5);
  font-size: 49px;
  border-radius: 10px;
  text-align: right;
  padding: 11px;
}
.posts-index .title-tile h2{
  color: white;
}
.posts-index .image:not(.logo):hover a{
  cursor: default;
}
