<header class="navigation green" role="banner">
  <div class="navigation-wrapper">
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link">
          <%= link_to 'Posts', posts_path %>
        </li>
        <li class="nav-link">
          <%= link_to 'Photos', photos_path %>
        </li>
        <li class="nav-link">
          <%= link_to 'Map', maps_path %>
        </li>
        <% if signed_in? %>
          <li class="nav-link">
            <%= link_to "Admin", admin_root_path %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

