<header class="navigation blue" role="banner">
  <div class="navigation-wrapper">
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link">
          <%= link_to 'Posts', posts_path %>
          <!-- <a href="javascript:void(0)">Posts</a> -->
        </li>
        <li class="nav-link"><a href="javascript:void(0)">Photos</a></li>
        <li class="nav-link more"><a href="javascript:void(0)">Countries</a>
          <ul class="submenu">
            <li><a href="javascript:void(0)">Colombia</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>

